<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>

    <!--[if lt IE 7]>
        <script type="text/javascript" src="resource/js/meila/DD_belatedPNG_0.0.8a-min.js"></script>
        <script type="text/javascript">
          DD_belatedPNG.fix('img, .ui_sawtooth');
        </script>
        <![endif]-->
    <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="jquery.validation.js"></script>
  </head>

  <body>
    <h1>Hello, {{ title }} </h1>
  </body>
</html>
